<!DOCTYPE html>
<html>
    <head>
        <title>Blog do Pegor's</title>
    </head>
    <body>
        <header>
            <h1>Blog do Pegor's</h1>
        </header>
        
        <article>
            <h2>
                <a href="">
                    Postagem A

                </a>
            </h2>
            <time>Publicado em: 28/07/2021, 20:40</time>
            <p>
                Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável.
            </p>
        </article>
    </body>
</html>